/Users/jaideepballani/Downloads/avm-real-estate-model/sb-case-study/venv/
/Users/jaideepballani/Downloads/avm-real-estate-model/sb-case-study/data/
/Users/jaideepballani/Downloads/avm-real-estate-model/sb-case-study/results/
/Users/jaideepballani/Downloads/avm-real-estate-model/sb-case-study/transactions_xgboost.pkl
